/* RULES */

/* HEADER */

header,
.copyright{
    background-color: var(--dark-blue);
}

/* HERO */

.hero,
.about{
    background-color: var(--green);
}

.hero-profile{
    width: 228px;
    margin: 0;
}

/* ABOUT */

.form-send{
    background-color: var(--green);
}

*::placeholder{
    color: black;
}

/* DETAILS */

.details{
    background-color: var(--blue);
}

a{
    color: var(--green);
}

.social-icon{
    aspect-ratio: 1 / 1;
}

/* STAR LINES */

.star-line{
    position: relative;
    width: fit-content;
    padding: 0 116px;
}

.star-line::before{
    content: '';
    height: 5px;
    width: 94px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 50%;
}

.star-line::after{
    content: '';
    height: 5px;
    width: 94px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 50%;
}

.portfolio .star-line::before,
.portfolio .star-line::after,
.contact .star-line::before,
.contact .star-line::after{
    background-color: black;
}

/* MEDIA QUERIES */

@media (min-width: 1200px){
    .star-line{
        padding: 0 170px;
    }
    .star-line::before,
    .star-line::after{
        width: 142px;
    }
}

/* VARIABLES */

:root{
    --dark-blue:#2C3E50;
    --green: #1ABC9C;
    --blue:#3A546D;
}

/* DEBUG */

.debug .container{
    padding: 10px;
    border: 2px solid blue;
}

.debug .row{
    border: 2px solid pink;
}

.debug [class^="col"]{
    border: 2px solid red;
    min-height: 50px;
}