/* RULES */

/* HEADER */

header,
.copyright{
    background-color: var(--dark-blue);
}

/* HERO */

.hero,
.about{
    background-color: var(--green);
}

.hero-profile{
    width: 228px;
    margin: 0;
}

/* ABOUT */

.form-send{
    background-color: var(--green);
}

*::placeholder{
    color: black;
}

/* DETAILS */

.details{
    background-color: var(--blue);
}

/* VARIABLES */

:root{
    --dark-blue:#2C3E50;
    --green: #1ABC9C;
    --blue:#3A546D;
}

/* DEBUG */

.debug .container{
    padding: 10px;
    border: 2px solid blue;
}

.debug .row{
    border: 2px solid pink;
}

.debug [class^="col"]{
    border: 2px solid red;
    min-height: 50px;
}